<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.CartItemMapper">


    <select id="getCartItemList" parameterType="Long" resultType="com.farmorai.backend.dto.CartItemDto">
        SELECT cart_item_id, cart_id, product_id, quantity, created_at, updated_at
        FROM cart_item
        WHERE cart_item_id = #{cartItemId}
    </select>
    <insert id="insertCartItem" parameterType="com.farmorai.backend.dto.CartItemDto">
        INSERT INTO cart_item (cart_id, product_id, quantity, created_at)
        VALUES (#{cartId}, #{productId}, #{quantity}, now())
    </insert>
    <!-- 장바구니 상품 1개 제거-->
    <delete id="deleteCartItem" parameterType="Long">
        DELETE
        FROM cart_item
        WHERE cart_item_id = #{cartItemId}
    </delete>

    <!-- 장바구니 상품 전체 제거-->
    <delete id="deleteAllCartItem" parameterType="Long">
        DELETE
        FROM cart_item
        WHERE cart_id = #{cartId}
    </delete>

</mapper>