<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.CartMapper">

    <insert id="insertCart" parameterType="Long">
        INSERT INTO cart (member_id, created_at)
        VALUES (#{memberId}, now())
    </insert>

    <select id="getCartById" parameterType="Long" resultType="com.farmorai.backend.domain.Cart">
        SELECT cart_id, member_id, created_at
        FROM cart
        WHERE member_id = #{memberId}
    </select>

    <delete id="deleteCart" parameterType="Long">
        DELETE
        FROM cart
        WHERE cart_id = #{cartId}
    </delete>

    <delete id="deleteCartItem" parameterType="String">
        DELETE FROM cart_item
        WHERE cart_id IN (SELECT cart_id FROM cart WHERE member_id =
                                                         (SELECT member_id FROM orders WHERE order_number = #{orderNumber}))
          AND product_id IN (SELECT product_id FROM order_detail WHERE orders_id =
                                                                       (SELECT orders_id FROM orders WHERE order_number = #{orderNumber}))
    </delete>

</mapper>
