<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.NoticeMapper">
    <select id="getNoticeList" parameterType="com.farmorai.backend.dto.PageRequestDto" resultType="com.farmorai.backend.dto.NoticeDto">
        SELECT n.notice_id, n.title, m.nickname writer, n.content, n.views, n.created_at, n.updated_at
        FROM notice n
        inner join member m on n.member_id = m.member_id
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
        ORDER BY notice_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getNoticeListCount" parameterType="Map" resultType="int">
        SELECT COUNT(*) FROM notice
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
    </select>

    <select id="getNoticeDetail" parameterType="Long" resultType="com.farmorai.backend.dto.NoticeDto">
        SELECT n.notice_id ,n.title, m.nickname writer, n.content, n.views, n.created_at, n.updated_at
        FROM notice n inner join member m on n.member_id = m.member_id
        WHERE notice_id = #{noticeId}
    </select>

    <update id="updateNoticeViews" parameterType="Long">
        UPDATE notice SET views = views + 1 WHERE notice_id = #{noticeId}
    </update>

    <insert id="insertNotice">
        INSERT INTO notice (title, content, member_id, created_at, updated_at) VALUES (#{notice.title}, #{notice.content}, #{memberId}, now(),now())
    </insert>

    <update id="updateNotice" parameterType="com.farmorai.backend.dto.NoticeDto">
        UPDATE notice
        SET title = #{notice.title}, content = #{notice.content}, updated_at = now()
        WHERE notice_id = #{noticeId}
    </update>

    <delete id="deleteNotice" parameterType="Long">
        DELETE FROM notice WHERE notice_id = #{noticeId}
    </delete>
    
    <insert id="insertBatchNotice">
        INSERT INTO notice (title, content, member_id, created_at, updated_at) VALUES
        <foreach collection="notices" item="notice" separator=",">
            (#{notice.title}, #{notice.content}, #{memberId}, now(), now())
        </foreach>
    </insert>
</mapper>