<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis 매퍼 파일의 루트 태그. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.PaymentMapper">
    <select id="getAllPayment" resultType="com.farmorai.backend.dto.PaymentDto">
        SELECT * FROM payment
    </select>

    <select id="getPaymentById" parameterType="java.lang.Long" resultType="com.farmorai.backend.dto.PaymentDto">
        SELECT * FROM payment WHERE payment_id = #{paymentId}
    </select>

    <select id="getPaymentInfo" parameterType="java.lang.Long" resultType="com.farmorai.backend.dto.PaymentSubsDto">
        SELECT p.payment_id, p.amount, p.token, p.created_at, p.payment_method, s.status, pl.name, DATEDIFF(s.end_date, CURDATE()) AS daysDiff
        FROM payment p
        LEFT JOIN subscription s ON p.subs_id = s.subs_id
        LEFT JOIN plan pl ON pl.plan_id = p.plan_id
        WHERE s.status = 'ACTIVE' AND p.member_id = #{memberId}
        ORDER BY p.payment_id DESC
        LIMIT 1
    </select>

    <insert id="insertPayment" parameterType="com.farmorai.backend.dto.PaymentDto" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO payment (amount, token, payment_method, status, plan_id, member_id, subs_id)
            VALUES (#{amount}, #{token}, #{paymentMethod}, #{status}, #{planId}, #{memberId}, #{subsId})
    </insert>

    <insert id="insertProductPayment" parameterType="com.farmorai.backend.dto.PaymentDto" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO payment (amount, token, payment_method, status, member_id)
            VALUES (#{amount}, #{token}, #{paymentMethod}, #{status}, #{memberId})
    </insert>

    <update id="updatePayment" parameterType="Map">
        UPDATE payment SET
            token = #{token},
            status = #{status},
            subs_id = #{subsId}
        WHERE payment_id = #{paymentId}
    </update>

    <update id="refundPayment" parameterType="string">
        UPDATE payment SET status = 'REFUNDED' WHERE token = #{token}
    </update>
</mapper>