<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis 매퍼 파일의 루트 태그. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.PaymentMapper">
    <select id="getAllPayment" resultType="com.farmorai.backend.dto.PaymentDto">
        SELECT * FROM Payment
    </select>

    <select id="getPaymentById" parameterType="java.lang.Long" resultType="com.farmorai.backend.dto.PaymentDto">
        SELECT * FROM Payment WHERE payment_id = #{paymentId}
    </select>

    <insert id="insertPayment" parameterType="com.farmorai.backend.dto.PaymentDto" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO Payment (amount, token, payment_method, status, plan_id, member_id, subs_id)
            VALUES (#{amount}, #{token}, #{paymentMethod}, #{status}, #{planId}, #{memberId}, #{subsId})
    </insert>

    <update id="updatePayment" parameterType="Map">
        UPDATE Payment SET
            token = #{token},
            status = #{status},
            subs_id = #{subsId}
        WHERE payment_id = #{paymentId}
    </update>

    <update id="refundPayment" parameterType="string">
        UPDATE payment SET status = 'REFUNDED' WHERE token = #{token}
    </update>
</mapper>