<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.ProductMapper">

    <insert id="registerProduct" parameterType="com.farmorai.backend.dto.ProductDto" useGeneratedKeys="true"
            keyProperty="productId">
        INSERT INTO product (name, variety, price, stock, description, image_url, created_at, updated_at)
        VALUES (#{name}, #{variety}, #{price}, #{stock}, #{description}, #{imageUrl}, now(), now())
    </insert>

    <insert id="batchRegisterProduct" parameterType="java.util.List">
        INSERT INTO product (name, variety, price, stock, description, image_url,created_at, updated_at)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name}, #{item.variety}, #{item.price}, #{item.stock}, #{item.description}, "https://farmorai-bucket00.s3.ap-northeast-2.amazonaws.com/c383d3af-65dd-45c3-921b-0cb0cf0c4289_introduce1.png", now(), now())
        </foreach>
    </insert>


    <select id="getProductList">
        select *
        from product
    </select>

    <select id="getProductById" resultType="com.farmorai.backend.dto.ProductDto" parameterType="Long">
        select *
        from product
        where product_id = #{productId}
    </select>

    <!-- 재고 감소 (stock >= quantity 체크하여 음수가 되지 않도록 방지)    -->
    <update id="decreaseStock">
        update product
        set stock = stock - #{quantity}
        where product_id = #{productId}
          AND stock >= #{quantity}
    </update>
    
    <select id="searchProductList" resultType="com.farmorai.backend.dto.ProductDto">
        select product_id, name, variety, price, stock, description, image_url, created_at, updated_at
        from product
        where name like concat('%', #{keyword}, '%')
        order by product_id desc
        LIMIT #{size} OFFSET #{offset}
    </select>
    
    <select id="getProductCount" resultType="int">
        select count(*)
        from product
        where name like concat('%', #{keyword}, '%')
    </select>

</mapper>