<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis 매퍼 파일의 루트 태그. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmorai.backend.mapper.SubsMapper">
    <select id="getAllSubs" resultType="com.farmorai.backend.dto.SubsDto">
        SELECT * FROM Subscription
    </select>

    <select id="getSubsByMemberId" parameterType="java.lang.Long" resultType="com.farmorai.backend.dto.SubsDto">
        SELECT * FROM Subscription WHERE member_id = #{memberId} AND status = 'ACTIVE' ORDER BY created_at DESC LIMIT 1;
    </select>

    <insert id="insertSubs" parameterType="com.farmorai.backend.dto.SubsDto" useGeneratedKeys="true" keyProperty="subsId">
        INSERT INTO Subscription (status, start_date, end_date, member_id, plan_id)
            VALUES (#{status}, #{startDate}, #{endDate}, #{memberId}, #{planId})
    </insert>

    <update id="cancelSubs" parameterType="string">
        UPDATE subscription s
        LEFT JOIN payment p ON s.subs_id = p.subs_id
        SET s.status = 'CANCELED', s.canceled_at = now()
        WHERE p.token = #{token};
    </update>
</mapper>